.node {
	width: 150px;
	word-break: break-word;
	height: 50px;
	padding: 2px 15px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}
.node.dataField {
	background-color: #448edc;
}

.node.modifier {
	background-color: #9bcc63;
}

.node.additionalSource {
	background-color: #ffdaaa;
}

.node.pinkBorder {
	background-color: #f1f1f1;
	border: 2px solid #fe689d;
	height: 70px;
}

.node.campaign {
	background-color: #f1f1f1;
	border: 2px solid #888;
	height: 70px;
}
